<footer class="footer">
  <p>SGPF licensed under <a href="https://gitlab.com/isel43107/es1920-sgpf/blob/master/LICENSE">Apache-2.0 License</a> </p>
  <p>SGPF Docs licensed to <a href="https://gitlab.com/isel43107/es1920-sgpf/blob/master/LICENSE">Apache-2.0 License</a> </p>
</footer>
