.login-information {
    min-width: 300px;
    flex: 0;
    background: var(--lumo-primary-color-50pct);
}

/* Stack login-screen vertically on narrow screen */
@media (max-width: 800px) {

    .login-screen {
        flex-direction: column;
    }

    .login-information {
        display: block;
    }
}

body {

    /* Used by the menu and form overlays */
    --overlay-box-shadow: 0 0 3px 2px var(--lumo-contrast-10pct);
}

.menu-header {
    padding: 11px 16px;
    padding-left: 32px;
    font-size: var(--lumo-font-size-l);
}

.menu-toggle {
    display: none;
}

.menu-link {
    display: block;
    margin: 0 auto;
    padding: 10px 37px;
    transition: transform 300ms;
    
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    font-weight: 500;
    color: var(--lumo-secondary-text-color);
}

.menu-link:hover {
    text-decoration: none;
}

.menu-link span {
    padding-left: 5px;
}

.menu-button {
    padding: 10px 42px;
    color: var(--lumo-secondary-text-color);
}

.projeto-form {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: auto;
    background: var(--lumo-base-color);
    box-shadow: var(--overlay-box-shadow);
}

.projeto-form-content {
    margin-top: var(--_vaadin-app-layout-navbar-offset-size);
}

/* 
 * Special rules for narrow screens (responsive design rules)
 */
@media (max-width: 800px), (max-height: 600px) {

    /*
     * Make menu toggle visible, and smaller
     */
    .menu-toggle {
        display: block;
        height: var(--lumo-button-size);
        width: var(--lumo-button-size);
    }
    
    .menu-header {
        padding-left: 0;
    }
}

@media (max-width: 550px) {

    .projeto-form {
        width: 100%;

        /* Prevent text-fields from overflowing on narrow screens */
        --vaadin-text-field-default-width: 6em;
    }
}

/* Color codes for the availability statuses of the projeto */
.projeto-estado-candidatura {
    color: #4993f5;
}

.projeto-estado-despacho {
    color: #5549F5;
}

.projeto-estado-despacho {
    color: #AA49F5;
}

.projeto-estado-arquivado {
    color: #ffc66e;
}

.projeto-estado-fechado {
    color: #f55349;
}

.projeto-estado-supenso {
    color: #F5AA49;
}

/* ------------- SPGF ALERT -------------*/
.sgpf-alert {
  padding: 1px;
  background-color: #CCCCCC;
  color: white;
}

.sgpf-alert-closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.sgpf-alert-cclosebtn:hover {
  color: black;
}

.sgpf-alert.danger {background-color: #F44336;}
.sgpf-alert.success {background-color: #4CAF50;}
.sgpf-alert.info {background-color: #2196F3;}
.sgpf-alert.warning {background-color: #ff9800;}
